@mixin card-padding{
	padding:24px 32px;

	@media(max-width:959px){padding:20px 24px}
}

.card{
	position:relative;
	border-radius:8px;
	box-shadow:1px 3px 3px rgba(62, 63, 64, 0.1);
	box-sizing:border-box;
	border:1px solid $color-gray-40;
	background:#fff;
	overflow:hidden;

	&.card-body,.card-body{
		padding:24px 32px;
	}

	.card-footer{
		@include card-padding;
		
		padding-top:16px;padding-bottom:16px;
		background:#FAFAFA;
		border-top:1px solid $color-gray-40;
	}
}