$range-width:19px;
$range-height:19px;

.range-value{min-width:38px;box-sizing:border-box}

.range{
	@include accessibility;
	
	box-sizing: border-box;
	vertical-align: middle;
	border: 0;
	padding: 0;
	margin-top:10px;
	cursor: pointer;

	@media(min-width:960px){max-width:218px}

	&:focus {
		outline:none;
        
		&::-ms-fill-lower {
			background:$color-primary-nontext;
		}
		&::-ms-fill-upper {
			background:$color-gray-40;
		}
	}

    // CHROME
	&::-webkit-slider-runnable-track {
		// background:$color-gray-40;
		border: 0;
		width: 100%;
		height: 3px;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		margin-top: -8px;
		width: $range-width;
		height: $range-height;
		background: $color-primary-nontext;
		border: 0;
		border-radius: 50px;
		cursor: pointer;
		-webkit-appearance: none;
	}

    // FF
	&::-moz-range-track {
		background: $color-gray-40;
		border: 0;
		width: 100%;
		height: 3px;
		cursor: pointer;
		border-radius:8px;
	}
	&::-moz-range-thumb {
		width: $range-width;
		height: $range-height;
		background: $color-primary-nontext;
		border: 0;
		border-radius: 50px;
		cursor: pointer;
	}
    &::-moz-range-progress {
		height: 3px;
        background: $color-primary-nontext;
		border-radius: 8px;
    }

    // IE
	&::-ms-track {
		background: transparent;
		border-color: transparent;
		border-width: 8px 0;
		color: transparent;
		width: 100%;
		height: 3px;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		border-radius:8px;
		background: #2aa666;
		border: 0;
	}
	&::-ms-fill-upper {
		border-radius:8px;
		background:$color-gray-40;
		border: 0;
	}
	&::-ms-thumb {
		width: $range-width;
		height: $range-height;
		background: $color-primary-nontext;
		border: 0;
		border-radius: 50px;
		cursor: pointer;
		margin-top: 0px;
	}
}

@supports (-ms-ime-align:auto) {
    .range{margin:0}
}
