.button{
    @include accessibility;

    height:48px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0;
    border:1px solid transparent;
    overflow:visible;
    border-radius:8px;
    box-sizing:border-box;
    padding:0 24px;
    cursor:pointer;

    &.button-default{
        background:#fff;
        border-color:$color-gray-70;
    }

    &.button-primary{
        background-color:$color-primary-nontext;
        color:#fff;
    }
}