@mixin font($fname, $fstyle, $fweight, $furl){
	@font-face{
		font-family:$fname;
		font-style:$fstyle;
		font-weight:$fweight;
		src:url($furl) format('woff');
	}
}

@include font('Work Sans', normal, 400, '../fonts/WorkSans-Regular.woff');
@include font('Work Sans', normal, 600, '../fonts/WorkSans-SemiBold.woff');
@include font('Source Code Pro', normal, 600, '../fonts/SourceCodePro-Regular.woff');

// FONTS
.font-SCP{font-family:'Source Code Pro',sans-serif}


// COLORS
$color-gray-100:#2F2F30;
$color-gray-80:#6C6D6F;
$color-gray-75:#919293;
$color-gray-70:#A9ABAE;
$color-gray-50:#D7D8DA;
$color-gray-40:#DBDCDE;
$color-gray-30:#F3F3F3;
$color-primary:#00A651;
$color-primary-nontext:#2EB670;
$color-blue:#009FFD;
$color-floralwhite:#FFFBEC;

.color-gray-80{color:$color-gray-80}
.color-gray-75{color:$color-gray-75}

.color-muted{color:$color-gray-80!important}
.color-primary{color:$color-primary}
.color-blue{color:$color-blue}

.background-floralwhite{background-color:#FFFBEC!important}


// TEXT
.text-small{font-size:0.9rem}
.text-uppercase{text-transform:uppercase}


// LINE-HEIGHT
.line-height-20{line-height:20px}


// PADDING
.padding-remove{padding:0!important}


// POSITION
.position-relative{position:relative}
.position-sticky{
	@supports (position:sticky){
		position:sticky;top:24px;
	}
}


// DISPLAY
.display-block{display:block}
.display-inline-block{display:inline-block}



// OTHER
$grid-padding:24px;


// MIXINS
@mixin transition{
	transition:.1s ease-in-out;

	&:hover,&:focus{transition:.1s ease-in-out;}
}

@mixin style-input{
	height:40px;
	border:1px solid $color-gray-70;
	border-radius:6px;
	box-sizing:border-box;
	padding:4px 12px;
}

@mixin accessibility{
	@include transition;
	
	border:1px solid transparent;

	&:hover,&:focus{
		@include transition;

		border-color:$color-primary!important;
		outline:0;
		box-shadow:0 0 0 3px rgba(43,183,123,.2);
	}
}

@mixin mobile_container-padding{
	@media (max-width:959px){padding:20px 24px}
}